nav{
    display: flex;
}

#imagen{
    max-width: 250px;
}

#Bienvenida{
    background-image: url(https://cdn.builder.io/api/v1/image/assets/TEMP/a7a1ac1fae642200bb6e1e831866eed2e9670dd20fb89a605593917e0909ff68?apiKey=a90bfe6ef268487da2d375e850422136&);
    background-image: center;
   background-size: cover;
}

#Subtitulo-Servicios{
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
#Servicios{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    flex-wrap: wrap;
}